<div class="row" data-animated="0">
  <div class="col-md-12">
    <div id="services">
      <h3 style="text-align: center; color: white ">Услуги</h3>
      <ul>
        <li data-animated="0">
          <a routerLink="/servicepage">
          <img src='./img/icons/nero1.png'>
          <h4>Нейрологопедия</h4>
          <p>Логопед</p>
           <p> Эрготерапевт</p>
            <p>Сенсорная интеграция</p>
            <p>ABA</p>
          </a>
        </li>
        <li data-animated="0">
          <a id="page1">
          <img src='./img/icons/children-btn1.png'>
          <h4>TOMATIS для детей</h4>
          <p>Подготовка к школе</p>
          <p>  Изучение иностранных языков</p>
          <p>  Задержка речевого развития</p>
          <p>  Проблемы обучения</p>
          <p>  Дефицит внимания</p>
          <p>  Аутизм</p>
          <p>  Нарушение координации движения</p>
          <p>  Синдром дауна</p>
            </a>
        </li>
        <li data-animated="0">
          <img src='./img/icons/adult-btn1.png'>
          <h4>TOMATIS для взрослых</h4>
          <p>Изучение иностранных языков</p>
          <p>  Проблемы обучения</p>
          <p>  Нарушения координации движения</p>
          <p>  Услуги для золотого возраста</p>
        </li>
      </ul>
      <ul>

        <li data-animated="0">
          <img src='./img/icons/notrad-btn1.png'>
          <h4>Альтернативная медицина</h4>
          <p>Остеопатия</p>
          <p> Гомеопатия</p>
          <p>Озонотерапия</p>
          <p>Метод Фельденкрайза</p>
        </li>
        <li data-animated="0">
          <img src='./img/icons/med1.png'>
          <h4>Медицинский туризм</h4>
          <p>Лечение</p>
           <p> Туризм</p>

        </li>

      </ul>
    </div>
  </div>
</div>
