<!-- Page Header -->
<div class="row" data-animated="0">
  <div class="col-md-12">
    <div id="page-header">
      <h3><span>Blog</span></h3>
      <ul class="bread_crumbs">
        <li><a href="#">home</a></li>
        <li>blog</li>
      </ul>
    </div>
  </div>
</div>

<!-- Blog Post Content -->
<div class="row" data-animated="0">
  <div class="col-md-12">
    <div id="m-blog-content">
      <div class="row">
        <div class="col-md-12">
          <article class="item">
            <div class="mb-thumb">
              <img src="img/blog/1-big.jpg" class="img-responsive" alt=""/>
              <div class="date">18<span>aug</span></div>
            </div>
            <h4>Improving and Removing Envato Market Image Watermarking</h4>
            <div class="blog-meta">
              <span><i class="fa fa-comments"></i> 2 comments</span>
              <span><i class="fa fa-user"></i> premiumlayers</span>
            </div>
            <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc.</p>
            <p>Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a</p>

            <!-- Comments -->
            <div class="comments-wrap" data-animated="0">
              <h5>8 Comments</h5>
              <ul>
                <li>
                  <img src="img/blog/comments/1.jpg" alt=""/>
                  <div class="comments-inner">
                    <div class="comment-author">ShaneFreer <span>58 minutes ago</span></div>
                    <p>great post!</p>
                  </div>
                </li>
                <li class="sub-comment1">
                  <img src="img/blog/comments/2.jpg" alt=""/>
                  <div class="comments-inner">
                    <div class="comment-author">Collis Ta'eed <span>42 minutes ago</span></div>
                    <p>yeah i  really like it too, very useful!</p>
                  </div>
                </li>
                <li class="sub-comment2">
                  <img src="img/blog/comments/3.jpg" alt=""/>
                  <div class="comments-inner">
                    <div class="comment-author">jremick <span>22 minutes ago</span></div>
                    <p>i found this post very useful too, the comment form <br>works just perfect, keep it up guys :)</p>
                  </div>
                </li>
                <li class="sub-comment3">
                  <img src="img/blog/comments/4.jpg" alt=""/>
                  <div class="comments-inner">
                    <div class="comment-author">joshjanssen <span>22 minutes ago</span></div>
                    <p>yep, especially when it comes to <br>comment testing</p>
                  </div>
                </li>
                <li class="sub-comment2">
                  <img src="img/blog/comments/5.jpg" alt=""/>
                  <div class="comments-inner">
                    <div class="comment-author">stewboon <span>22 minutes ago</span></div>
                    <p>nice job!</p>
                  </div>
                </li>
                <li class="sub-comment1">
                  <img src="img/blog/comments/6.jpg" alt=""/>
                  <div class="comments-inner">
                    <div class="comment-author">bensmithett <span>42 minutes ago</span></div>
                    <p>couldn't be better :D</p>
                  </div>
                </li>
                <li>
                  <img src="img/blog/comments/7.jpg" alt=""/>
                  <div class="comments-inner">
                    <div class="comment-author">justinfrench <span>48 minutes ago</span></div>
                    <p>looks very promising</p>
                  </div>
                </li>
              </ul>
            </div>

            <div class="article-comment-form" data-animated="0">
              <h5>Leave a Comment</h5>
              <form>
                <div class="row">
                  <div class="col-md-6">
                    <span><i class="fa fa-user"></i></span>
                    <input type="text" placeholder="Name">
                    <span><i class="fa fa-envelope-o"></i></span>
                    <input type="email" placeholder="e-mail">
                    <span><i class="fa fa-link"></i></span>
                    <input type="text" placeholder="website">
                  </div>
                  <div class="col-md-6">
                    <textarea placeholder="Message"></textarea>
                    <button type="submit">Post a Comment</button>
                  </div>
                </div>
              </form>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Blog Post Content -->

<!-- Footer contact -->
<div class="row">
  <div class="col-md-12">
    <div class="col-md-12" id="m-contact" data-animated="0">
      <h3>Send us a message</h3>
      <form class="contact-form" data-animated="0" id="contactForm" action="php/contact.php" method="post">
        <div class="row">
          <div class="col-md-6">
            <div class="mc-name">
              <input type="text" name="senderName" id="senderName" placeholder="name" Required>
              <span><i class="fa fa-user"></i></span>
            </div>
            <div class="mc-email">
              <input type="email" name="senderEmail" id="senderEmail" placeholder="Email Address" Required>
              <span><i class="fa fa-envelope-o"></i></span>
            </div>
            <div class="mc-website">
              <input type="text" name="subject" id="subject" placeholder="subject">
              <span><i class="fa fa-link"></i></span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="mc-message">
              <textarea name="message" id="message" placeholder="Message" Required></textarea>
              <button type="submit"><span>Send</span></button>
            </div>
          </div>
        </div>
      </form>
      <div id="successMessage" class="successmessage">
        <p><span class="success-ico"></span> Thanks for sending your message! We'll get back to you shortly.</p>
      </div>
      <div id="failureMessage" class="errormessage">
        <p><span class="error-ico"></span> There was a problem sending your message. Please try again.</p>
      </div>
      <div id="incompleteMessage" class="statusMessage">
        <p>Please complete all the fields in the form before sending.</p>
      </div>

      <div class="contact-info" data-animated="0">
        <h4>Contact Info</h4>
        <ul>
          <li><i class="fa fa-home"></i> lorem ipsum street</li>
          <li><i class="fa fa-phone"></i> +399 (500) 321 9548</li>
          <li><i class="fa fa-envelope"></i> info@domain.com</li>
        </ul>
      </div>
      <div class="flickr-widget">
        <h4>Flickr Gallery</h4>
        <ul id="flickr" class="thumbs"></ul>
      </div>
    </div>
  </div>
</div>
