<!-- Page Header -->
<div class="row" data-animated="0">
  <div class="col-md-12">
    <div id="page-header">
      <h3 ><span>Blog</span></h3>
      <ul class="bread_crumbs">
        <li><a href="/">home</a></li>
        <li routerLink="/blogpage" style="cursor: pointer">blog</li>
      </ul>
    </div>
  </div>
</div>

<!-- Blog Post Content -->
<div class="row" data-animated="0">
  <div class="col-md-12">
    <div id="m-blog-content">
      <div class="row">
        <div class="col-md-12">
          <article class="item">
            <div class="mb-thumb">
              <img src='{{image}}' class="img-responsive" alt=""/>
              <div class="date"><span>{{date| date :'longDate'}}</span></div>
            </div>
            <h4>{{header}}</h4>

            <div class="blog-meta">
              <span><i class="fa fa-comments"></i> {{ncomments-1}} comments</span>
              <span><i class="fa fa-user"></i> {{author}}</span>
            </div>
            <p>{{content}}</p>
            <div class="container hashtag">
              <h5><i class="fa fa-slack" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;hashtags</h5>
              <div class="row">

                <!--<div class="col-md-3 hash" *ngFor="let hash of hashtags">
                  <p style="color:#d58512 ">{{hash}}</p>
                </div>-->
                <div class="col-md-3 hash" >
                  <p style="color:#d58512 ">{{hashtags1}}</p>
                </div>
                <div class="col-md-3 hash" >
                  <p style="color:#d58512 ">{{hashtags2}}</p>
                </div>
                <div class="col-md-3 hash" >
                  <p style="color:#d58512 ">{{hashtags3}}</p>
                </div>
                <div class="col-md-3 hash" >
                  <p style="color:#d58512 ">{{hashtags4}}</p>
                </div>
              </div>
              <div class="line"></div>
            </div>



            <!-- Comments -->
            <div class="comments-wrap" data-animated="0">
              <h5>{{ncomments-1}} Comments</h5>

              <ul *ngIf="isBlog==true">

                <li *ngFor="let comment of comments;let i=index" class="sub-comment1">
                  <div *ngIf="i==0">
                    <p>no comments</p>
                  </div>
                  <div *ngIf="i>0">
                  <img src="img/blog/comments/1.jpg" alt=""/>
                  <div class="comments-inner">
                    <div class="comment-author">{{comment.author}}

                      <span>{{(currentDate-comment.date)/(60000)| commentdate}} </span>



                    </div>
                   <p>{{comment.textcomment}}</p>

                  </div>
                  </div>
                </li>

              </ul>

            </div>


            <div class="container">
            <div class="line"></div>
            </div>
            <div class="article-comment-form" data-animated="0">

              <form>
                <div class="row">
                  <div class="col-md-6">

<!--
                    &lt;!&ndash; <span><i class="fa fa-user"></i></span>
                <input type="text" placeholder="Name">
                <span><i class="fa fa-envelope-o"></i></span>
                <input type="email" placeholder="e-mail">&ndash;&gt;
                    <div class="form-container sign" id="sign" style="border: 0px">

                      <img src="../../../../img/signInOut/mnal.png" id="lock">

                      <div  id="c" class="error" *ngIf="error" style="text-align: center; color: red; "  > Sorry! But the given sign-in provider is disabled....</div>

                      <button (click)="loginFb()" id="fb">Login With Facebook</button><br>
                      <button (click)="loginGoogle()" id="google">Login With Google</button>
                      <button (click)="onregEmail()" id="email">Email</button>
                      <router-outlet name="aux"></router-outlet>

                      <a (click)="signup()" style="color:black">No account? <strong>Create one here</strong></a>

                    </div>
                    <div class="form-container" id="signup" hidden>


                      <i class="fa fa-arrow-circle-left" aria-hidden="true"><a (click)="goback()" id="goback" >Go back</a></i>
                      <div class="row join" >

                      <h2 >Join now</h2>

                      <div>
                      <div class="error" *ngIf="error"  >{{ error }}</div>
                      </div>
                      </div>
                      <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">

                        <span><i class="fa fa-envelope-o"></i></span><input type="text" placeholder="Email address.." (ngModel)="email" name="email" class="txt" required>
                        <span><i class="fa fa-key" ></i></span><input type="password" placeholder="Password" (ngModel)="password" name="password" class="txt" required>


                        <button type="submit" [disabled]="!formData.valid" class="basic-btn">Create my account</button>
                      </form>
                   </div>

                          <div id="member" hidden>
                            <button (click)="logout()" class="basic-btn">Logout</button>
                            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                            <h5>{{ name }}</h5>
                          </div>
-->

                    <h5  *ngIf="name!=null">Current user:</h5>
                    <h5  *ngIf="name==null"> Login in/out</h5>
                    <h3 >{{name}}</h3>

                   <!-- <h5>{{email}}</h5>-->
                    <dir *ngIf="name!=null">
                    <img *ngIf="photo!=null" src='{{photo}}' alt="" style="width: 128px;height: 128px; border-radius: 100px;border: 3px solid orange;box-shadow: 0 0 7px #666;">
                    <img *ngIf="photo==null" src='../../../img/icons/anonim.png' alt="" >
                    </dir>

                    <a *ngIf="name!=null" (click)="logout()" style="cursor: pointer">LogOut</a>
                    <div class="form-container" id="regEmail" *ngIf="name==null">

                      <h2>Custom Login</h2>

                      <p class="error" *ngIf="error">{{ error }}</p>

                      <form id="ForLogIn" #formData='ngForm' (ngSubmit)=" onEmail(formData)">

                        <input type="text" placeholder="Email address.." (ngModel)="email" name="email" class="txt" required>
                        <input type="password" placeholder="Password" (ngModel)="password" name="password" class="txt" required>

                        <button type="submit" [disabled]="!formData.valid" class="basic-btn">Log in</button>
                        <div style="text-align: center">
                          <p>- or -</p>
                        </div>
                        <button (click)="loginFb()" id="fb">Login With Facebook</button><br>
                        <button (click)="loginGoogle()" id="google">Login With Google</button>
                        <a  (click)="onCreateLog()" class="alc">Don't have an account?</a>
                      </form>
                    </div>



                  <div class="form-container" id="create_ac" hidden>

                    <a (click)="gobackLog()" id="goback">Go back</a>

                    <h2 >Join now</h2>

                    <span class="error" *ngIf="error"  >{{ error }}</span>

                    <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">

                      <span><i class="fa fa-user"></i></span><input type="text" placeholder="Email address.." (ngModel)="email" name="email" class="txt" required>
                      <span><i class="fa fa-envelope-o"></i></span><input type="password" placeholder="Password" (ngModel)="password" name="password" class="txt" required>


                      <button type="submit" [disabled]="!formData.valid" class="basic-btn">Create my account</button>
                    </form>
                  </div>

                  </div>


                  <div class="col-md-6">
                    <h5>Leave a Comment</h5>


                     <!--   <form #myComment="ngForm" novalidate>
                    <textarea *ngIf='name!=null' placeholder="Message" id="message" name="textcomment"></textarea>
                    <button *ngIf='name!=null'  id="butMes" (click)="submit(myComment)"  >Post a Comment</button>



                      <textarea *ngIf='name==null' placeholder="You need sign in or sign up" disabled style="background-color: black; opacity: 0.3" ></textarea>

                    <button *ngIf='name==null' type="submit" disabled style="background-color: black; opacity: 0.3; color: white" >Post a Comment</button>
                    </form>-->

                    <!--<form class="comment" (submit)="onComment($event,comtextarea.value)">

                      <textarea type="text" placeholder="Comment" #comtextarea ></textarea>
                      <input type="text" placeholder="Comment" #cominput>
                      <button type="submit">Comment</button>
                    </form>-->
                    <div *ngIf='name!=null'>

                    <form #myComment="ngForm" novalidate (submit)="onComment($event,comtextarea.value)">

                      <textarea   type="text" placeholder="Comment" #comtextarea id="message"></textarea>

                      <button   id="butMes" type="submit">Comment</button>


                    </form>
                    </div>
                    <div *ngIf='name==null'>
                      <form #myComment="ngForm" novalidate (submit)="onComment($event,comtextarea.value)">

                        <textarea   placeholder="You need sign in or sign up" disabled style="background-color: black; opacity: 0.3" ></textarea>

                      </form>
                    </div>




                  </div>
                </div>
              </form>
            </div>

          </article>
        </div>
      </div>
    </div>
  </div>
</div>

