<!-- Page Header -->
<div class="row" data-animated="0">
  <div class="col-md-12">
    <div id="page-header">
      <h3><span>Blog</span></h3>
      <ul class="bread_crumbs">
        <li><a href="#">home</a></li>
        <li>blog</li>
      </ul>
    </div>
  </div>
</div>

     <div class="row" data-animated="0">
        <div class="col-md-12">
          <div id="m-blog-content" class="container">


             <!-- <div class="col-md-6 col-lg-6" data-animated="0" *ngFor="let blog of blogs let i=index |idpipe:25">-->

            <!--<div class="col-md-6 col-lg-6" data-animated="0" *ngFor="let blog of blogs let i=index">
                <div class="item" *ngIf="i<6" >

                  <div class="mb-thumb">
                    <div>
                    <img  src='{{blog.image}}' class="img-responsive" alt=""/>
                    </div>
                    <div class="date">{{blog.date}}</div>
                    <span class="rmore"><p [routerLink]="['/blogsingle', blog.id]">read more</p></span>
                  </div>
                  <h4 class="blogh"><a [routerLink]="['/blogsingle', blog.id]">{{blog.header}}</a></h4>
                  <div class="blog-meta">
                    <span><i class="fa fa-comments"></i>{{blog.ncoments}} comments</span>
                    <span><i class="fa fa-user"></i> {{blog.author}}</span>
                  </div>

                  <p class="blog_header" >{{blog.content}}</p>

                </div>
              </div>-->

            <div class="col-md-6 col-lg-6" data-animated="0" *ngFor="let blog of bu let i=index">
              <div class="item" *ngIf="i<6" >

                <div class="mb-thumb">
                  <div>
                    <img  src='{{blog.image}}' class="img-responsive" alt="pictures"/>
                  </div>
                  <div class="date">{{blog.date| date :'longDate'}}</div>
                  <span class="rmore"><p [routerLink]="['/blogsingle', blog.id]">{{blog.button}}</p></span>
                </div>
                <h4 class="blogh"><a [routerLink]="['/blogsingle', blog.id]">{{blog.header}}</a></h4>
                <div class="blog-meta">
                  <span><i class="fa fa-comments"></i>{{blog.ncomments}} comments</span>
                  <span><i class="fa fa-user"></i> {{blog.author}}</span>
                </div>

                <p class="blog_header" >{{blog.content}}</p>
                <div class="container hashtag">
                  <h5><i class="fa fa-slack" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;hashtags</h5>
                  <div class="row">

                <div class="col-md-3 hash" *ngFor="let hash of blog.hashtags">
                  <p style="color:#d58512 ">{{hash}}</p>
                </div>
                  </div>
                  <div class="line"></div>
                </div>
              </div>
            </div>



<!--
            <div class="col-md-6 col-lg-6" data-animated="0" *ngFor="let blog of blogs let i=index">
              <div class="item" *ngIf="i<6" >

                <div class="mb-thumb">
                  <div>
                    <img  src='{{blog.image}}' class="img-responsive" alt=""/>
                  </div>
                  <div class="date">{{blog.date}}</div>
                  <span class="rmore"><p [routerLink]="['/blogsingle', blog.id]">read more</p></span>
                </div>
                <h4 class="blogh"><a [routerLink]="['/blogsingle', blog.id]">{{blog.header}}</a></h4>
                <div class="blog-meta">
                  <span><i class="fa fa-comments"></i>{{blog.ncoments}} comments</span>
                  <span><i class="fa fa-user"></i> {{blog.author}}</span>
                </div>

                <p class="blog_header" >{{blog.content}}</p>

              </div>
            </div>-->




              <div class="page-nav" data-animated="0">

                <ul>
                  <li *ngFor="let blog of blogs2 let i=index"   ><div *ngIf="i%6==0" (click)="onSelectPage(i/6+1)"><span >{{i/6+1}}</span></div></li>
                </ul>

              </div>

            </div>
          </div>

     </div>
      <!-- Blog Post Content -->

<!--<ul>
  <li class="text" *ngFor="let item of items | async">
    {{item.text}}
  </li>
</ul>-->
<div class="container" style="text-align: center">
  <form routerLink="/post">
<button class="btn btn-warning" style="color:white; margin-bottom: 1vh">Add Post to Blog</button>
  </form>
</div>
  <contact></contact>

