
<!-- Page Header -->
<div class="row">
  <div class="col-md-12">
    <div id="page-header" data-animated="0">
      <h3 *ngIf="lang=='rus'"><span>Свяжитесь с нами</span></h3>
      <h3 *ngIf="lang=='heb'"><span>תיצור איתנו קשר</span></h3>

      <ul class="bread_crumbs">
        <li><a href="#">home</a></li>
        <li>contact</li>
      </ul>
    </div>
  </div>
</div>

<!-- Contact Content -->
<div class="row">
  <div class="col-md-12">
    <div id="contact-form" >
      <div class="row">

        <!-- Google Map -->
        <div class="col-md-6" data-animated="0">
          <div class="ma">
            <div class="gmap">
              <div id="ma">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11279.724060254348!2d35.10069575327199!3d32.80599088624397!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151db6cae210f5b7%3A0xe2e8c3aed0b1cff6!2sZevulun+14%2C+Kiryat+Ata!5e0!3m2!1sru!2sil!4v1482479746483"
                        width="400" height="400" frameborder="2" style="border:0" allowfullscreen></iframe>



              </div>
            </div>
          </div>
        </div>

        <!-- Contact Form -->
        <div class="col-md-6" data-animated="0">
          <h3 *ngIf="lang=='rus'">Отправте сообщение</h3>
          <h3 *ngIf="lang=='heb'">שלח לנו הודעה</h3>

          <form class="contact-form" data-animated="0" id="contactForm" action="php/contact.php" method="post">
            <div class="mc-name">
              <input type="text" name="senderName" id="senderName" placeholder="name" Required>
              <span><i class="fa fa-user"></i></span>
            </div>
            <div class="mc-email">
              <input type="email" name="senderEmail" id="senderEmail" placeholder="Email Address" Required>
              <span><i class="fa fa-envelope-o"></i></span>
            </div>
            <div class="mc-phone">
              <input type="text" name="subject" id="subject" placeholder="phone number with cod">
              <span><i class="fa fa-phone"></i></span>
            </div>
            <div class="mc-message">
              <textarea name="message" id="message" placeholder="Message" Required></textarea>
              <button type="submit"><span>Send</span></button>
            </div>
          </form>
          <div id="successMessage" class="successmessage">
            <p><span class="success-ico"></span> Thanks for sending your message! We'll get back to you shortly.</p>
          </div>
          <div id="failureMessage" class="errormessage">
            <p><span class="error-ico"></span> There was a problem sending your message. Please try again.</p>
          </div>
          <div id="incompleteMessage" class="statusMessage">
            <p>Please complete all the fields in the form before sending.</p>
          </div>

        </div>
      </div>

      <!-- Contact Info -->
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-12 cf-info" data-animated="0">
            <h3 *ngIf="lang=='rus'">Контактная информация</h3>
            <h3 *ngIf="lang=='heb'">פרטים ליצירת קשר</h3>
            <p  *ngIf="lang=='rus'">Вы можете связяться с нами по любому вопросу по следующим контактам</p>
            <p  *ngIf="lang=='heb'">באפשרותך לפנות אלינו בכל נושא אנשי הקשר הבא</p>
            <ul>
              <li>
                <span><i class="fa fa-home"></i></span>
                <h5>Zvulun 14 st.<br>
                  Kiryat-Ata, Israel.</h5>
              </li>
              <li>
                <span><i class="fa fa-phone"></i></span>
                <h5>+972-54-453-2763</h5>
                <h5>+972-4-635-3064</h5>
              </li>
              <li>
                <span><i class="fa fa-envelope"></i></span>
                <h5>lories2005@gmail.com</h5>
                <h5>.</h5>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Contact Content -->

