<!-- Page Header -->
<div class="row" data-animated="0">
  <div class="col-md-12">
    <div id="page-header">
      <h3 ><span>Blog Post Page</span></h3>
      <ul class="bread_crumbs">
        <li><a href="/">home</a></li>
        <li routerLink="/blogpage" style="cursor: pointer">blog</li>
      </ul>
    </div>
  </div>
</div>

<!--Modal window-->
<div id="myModalBox" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Заголовок модального окна -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Заголовок модального окна</h4>
      </div>
      <!-- Основное содержимое модального окна -->
      <div class="modal-body">
        Содержимое модального окна...
      </div>
      <!-- Футер модального окна -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-primary">Сохранить изменения</button>
      </div>
    </div>
  </div>
</div>





<div class="container">
<div class="row" data-animated="0">
  <div class="col-md-12">
    <div id="m-blog-post">
      <div class="row">

        <div class="blog-meta">

          <span>Меня зовут <i class="fa fa-user"></i> админ</span>

          <span>Сегодня <i class="fa fa-calendar"></i> {{date| date:'longDate'}}</span>
        </div>

        <div class="postpage" data-animated="0">

          <h1>Пишем блог</h1>
          <div class="blog-meta">




          </div>
          <form (submit)="addPost(image.value, header.value, content.value,hashtag1.value,hashtag2.value,hashtag3.value,hashtag4.value)">
            <div class="row">

              <div class="col-md-12">
                <span><i class="fa fa-download"></i></span>
                <input type="text" placeholder="укажите путь к изображению" #image>
                <span><i class="fa fa-header"></i></span>
                <input type="text" placeholder="Заголовок" #header>



                <textarea placeholder="Текст" #content></textarea>



                  <div class="row">

                    <div class="col-md-3"><input type="text" placeholder="# hashtag" #hashtag1></div>
                    <div class="col-md-3"><input type="text" placeholder="# hashtag" #hashtag2></div>
                    <div class="col-md-3"><input type="text" placeholder="# hashtag" #hashtag3></div>
                    <div class="col-md-3"><input type="text" placeholder="# hashtag" #hashtag4></div>
                  </div>


                <!--<a href="#myModal" class="btn btn-primary" data-toggle="modal">Открыть модальное окно</a>-->
                <!-- HTML-код модального окна -->
                <div id="myModal" class="modal fade">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <!-- Заголовок модального окна -->
                      <div class="modal-header">


                      </div>
                      <!-- Основное содержимое модального окна -->
                      <div class="modal-body">
                       <p style="text-align: center"> The Post was succefully added in the Blog! </p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>

                      </div>
                    </div>
                  </div>
                </div>



                <button type="submit" href="#myModal" data-toggle="modal">Post a Blog </button>

              </div>
            </div>
          </form>
        </div>


        </div>
      </div>
    </div>
  </div>



</div>
