<div class="row" data-animated="0">
  <div class="col-md-12">
    <div id="question">
     <!-- <ul>
        <li data-animated="0" (click)="onSelect(11)">
          <i class="fa fa-question-circle" aria-hidden="true"></i>
          <h4 >{{}}</h4>

        </li>

        <li data-animated="0" (click)="onSelect(12)">
          <i class="fa fa-question-circle" aria-hidden="true"></i>
          <h4>Для чего нужны перерывы ?</h4>

        </li>
      </ul>
      <ul>
        <li data-animated="0" (click)="onSelect(13)">
          <i class="fa fa-question-circle" aria-hidden="true"></i>
          <h4>Можно ли комбинировать метод "Томатис" с другими методамитерапии ?</h4>

        </li>
        <li data-animated="0" (click)="onSelect(14)">
          <i class="fa fa-question-circle" aria-hidden="true"></i>
          <h4>Как скоро стану заметны результаты применения "Томатис" ?</h4>

        </li>
        <li data-animated="0" (click)="onSelect(15)">
          <i class="fa fa-question-circle" aria-hidden="true"></i>
          <h4>Почему аудиотренировки проходят в интенсивном темпе ?</h4>

        </li>
        <li data-animated="0" (click)="onSelect(16)">
          <i class="fa fa-question-circle" aria-hidden="true"></i>
          <h4>Почему выбрана музыка Моцарта ?</h4>

        </li>
      </ul>
-->
      <ul>
        <li *ngFor="let answer of answers" data-animated="0" (click)="onSelect(answer.id)">
          <i class="fa fa-question-circle" aria-hidden="true"></i>
          <h4 >{{answer.question}}</h4>

        </li>
        </ul>
    </div>
  </div>
  <div class="col-md-12">
    <div class="answer">
      <h3>{{title}}</h3>
      <p >{{answ}}</p>
    </div>
  </div>
</div>
