<div class="container">
<div class="row">

    <div class="col-md-12" id="m" data-animated="0">
      <div><h1 style="padding: 4vh; background-color: #5c3486; color: white; text-align: center" >Медицинский Туризм</h1></div>
      <img src="./img/serv/turismservice.jpg" style="width: 100%">

        <div style="margin-top:2vh; border: 5px solid #ff8c1a;">
          <p style="margin: 2vw">Медицинский туризм – это посещение другой страны с целью отдыха
            и оздоровления. Мы берем на себя заботу от аэропорта  до аэропорта.
            И, понимая, что к нам приезжают семьи с особыми детками, мы устраиваем их так,
            чтобы они не чувствовали  дискомфорта на протяжении всего путешествия. Оказавшись у
            нас,  вы посетите святые и туристические места Израиля и параллельно получите программу
            обучения и лечения , которая подходит только вашему ребенку.</p>
        </div>
            <h1 style="text-align: center; color: #5c3486">8 причин лечиться у нас:</h1>
            <ul style="margin-bottom: 4vh; margin-left:2vw ">
            <li>Отсутствие посредников и связанного с этим удорожания лечения.</li>
            <li>Комплексный подход к лечению.</li>
            <li>Лучшие израильские русскоговорящие специалисты в своих областях, (либо предоставление профессионального  переводчика).</li>
            <li>Высочайший уровень израильской медицины.</li>
            <li>Цены на лечение ощутимо ниже, чем в странах Европы и США.</li>
            <li>Отсутствие языкового барьера при общении со специалистами центра.</li>
            <li>Полное сопровождение пациента и его семьи с момента обращения и до конца лечения.</li>
            <li> Эксклюзивные программы лечения и обучения скорректированные специально для вас.</li>
            </ul>
          <a routerLink="/contactpage"
             class="btn-warning btn-center ">Консультация</a>
        </div>
      </div>
    </div>

