<!-- Promo banner -->
<!--
<div class="row" data-animated="0">
  <div class="col-md-12">
<div class="container">
  <div id="intro">
    <div id="intro-slider" class="owl-carousel owl-theme">
      <div class="item"><img src="img/slider/intro/sp21.jpg" class="img-responsive" alt=""></div>
      <div class="item"><img src="img/slider/intro/sp22.jpg" class="img-responsive" alt=""></div>
      <div class="item"><img src="img/slider/intro/sp23.jpg" class="img-responsive" alt=""></div>
      <div class="item"><img src="img/slider/intro/sp24.jpg" class="img-responsive" alt=""></div>
      <div class="item"><img src="img/slider/intro/sp25.jpg" class="img-responsive" alt=""></div>
      <div class="item"><img src="img/slider/intro/sp26.jpg" class="img-responsive" alt=""></div>
      <div class="item"><img src="img/slider/intro/sp27.jpg" class="img-responsive" alt=""></div>
      <div class="item"><img src="img/slider/intro/sp28.jpg" class="img-responsive" alt=""></div>
    </div>
  </div>
</div>
</div>
</div>
-->
<div class="row">

    <div class="col-md-12" id="m" data-animated="0">
      <div><h1 style="padding: 4vh; background-color: #5c3486; color: white; text-align: center" >TOMATIS для детей</h1></div>
      <img src="./img/serv/childservice.jpg" style="width: 100%">

      <div class="row " *ngFor="let pa of pages">
        <div class="col-md-5">


            <img src="{{pa.pictures}}" class="do-img"/>


        </div>
        <div class="col-md-7 do">
          <h5 class="title">{{pa.title}}</h5>
          <p>{{pa.name}}</p>
          <p class="r-list">{{pa.paraqraph}}</p>
            <ul>
            <li class="list1" *ngFor="let par of pa.paragraph2">{{par.list}}</li>
            </ul>
          <a routerLink="/contactpage"
             class="btn-warning btn-center">Консультация</a>
        </div>

    </div>
  </div>
</div>

