<div class="row">

    <div class="col-md-12" id="m" data-animated="0">
      <div><h1 style="padding: 4vh; background-color: #5c3486; color: white; text-align: center" >Альтернативная медицина</h1></div>


      <div class="row " *ngFor="let pa of pages">
        <div class="col-md-5">


            <img src="{{pa.pictures}}" class="do-img"/>


        </div>
        <div class="col-md-7 do">
          <h5 class="title">{{pa.title}}</h5>
          <p>{{pa.name}}</p>
          <p class="r-list">{{pa.paraqraph}}</p>
            <ul>
            <li class="list1" *ngFor="let par of pa.paragraph2">{{par.list}}</li>
            </ul>
          <a href="#"
             class="btn-default btn-center ">Консультация</a>
        </div>

    </div>
  </div>
</div>

