<!-- Blog Slider -->
<div class="row">
  <div class="col-md-12" >
    <div id="blog" data-animated="0" >
      <h3>Blog Posts</h3>

      <!--<div id="m-blog" class="owl-carousel owl-theme" >-->

      <div class="row">
      <div class="col-md-4 col-lg-4" data-animated="0" *ngFor="let blog of blogs let i=index">


          <div class="item" *ngIf="i>(blogs.length-4)" >

            <div class="mb-thumb">
              <div>
                <img  src='{{blog.image}}' class="img-responsive" alt="pictures" style="height: 220px; width: auto"/>
              </div>
              <div class="date">{{blog.date| date :'longDate'}}</div>
              <span class="rmore"><p [routerLink]="['/blogsingle',blog.id ,blog.$key]">{{blog.button}}</p></span>
            </div>
            <h4 class="blogh"><a [routerLink]="['/blogsingle',blog.id ,blog.$key]">{{blog.header}}</a></h4>
            <div class="blog-meta">
              <span><i class="fa fa-comments"></i>{{blog.ncomments}} comments</span>
              <span><i class="fa fa-user"></i> {{blog.author}}</span>
            </div>

            <p class="blog_header" >{{blog.content}}</p>
            <div class="container hashtag">
              <h5><i class="fa fa-slack" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;hashtags</h5>
              <div class="row">

                <div class="col-md-3 hash" *ngFor="let hash of blog.hashtags">
                  <p style="color:#d58512 ">{{hash}}</p>
                </div>
              </div>
              <div class="line"></div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>


