<!-- Blog Slider -->
<div class="row">
  <div class="col-md-12" >
    <div id="blog" data-animated="0" >
      <h3>Blog Posts</h3>

      <div id="m-blog" class="owl-carousel owl-theme">
        <div class="item">
          <div class="mb-thumb">
            <img src="img/blog/1.jpg" class="img-responsive" alt=""/>
            <div class="date">18<span>aug</span></div>
            <span class="rmore"><a href="#">read more</a></span>
          </div>
          <h4><a href="#">Improving and Removing Envato Market Image Watermarking</a></h4>
          <div class="blog-meta">
            <span><i class="fa fa-comments"></i> 2 comments</span>
            <span><i class="fa fa-user"></i> premiumlayers</span>
          </div>
          <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor</p>
        </div>

        <div class="item">
          <div class="mb-thumb">
            <img src="img/blog/2.jpg" class="img-responsive" alt=""/>
            <div class="date">06<span>aug</span></div>
            <span class="rmore"><a href="#">read more</a></span>
          </div>
          <h4><a href="#">A More Balanced Envato MarketImportant Changes!</a></h4>
          <div class="blog-meta">
            <span><i class="fa fa-comments"></i> 4 comments</span>
            <span><i class="fa fa-user"></i> admin</span>
          </div>
          <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor</p>
        </div>

        <div class="item">
          <div class="mb-thumb">
            <img src="img/blog/1.jpg" class="img-responsive" alt=""/>
            <div class="date">18<span>aug</span></div>
            <span class="rmore"><a href="#">read more</a></span>
          </div>
          <h4><a href="#">Improving and Removing Envato Market Image Watermarking</a></h4>
          <div class="blog-meta">
            <span><i class="fa fa-comments"></i> 2 comments</span>
            <span><i class="fa fa-user"></i> premiumlayers</span>
          </div>
          <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor</p>
        </div>

        <div class="item">
          <div class="mb-thumb">
            <img src="img/blog/2.jpg" class="img-responsive" alt=""/>
            <div class="date">06<span>aug</span></div>
            <span class="rmore"><a href="#">read more</a></span>
          </div>
          <h4><a href="#">A More Balanced Envato MarketImportant Changes!</a></h4>
          <div class="blog-meta">
            <span><i class="fa fa-comments"></i> 4 comments</span>
            <span><i class="fa fa-user"></i> admin</span>
          </div>
          <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor</p>
        </div>

        <div class="item">
          <div class="mb-thumb">
            <img src="img/blog/1.jpg" class="img-responsive" alt=""/>
            <div class="date">18<span>aug</span></div>
            <span class="rmore"><a href="#">read more</a></span>
          </div>
          <h4><a href="#">Improving and Removing Envato Market Image Watermarking</a></h4>
          <div class="blog-meta">
            <span><i class="fa fa-comments"></i> 2 comments</span>
            <span><i class="fa fa-user"></i> premiumlayers</span>
          </div>
          <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor</p>
        </div>

        <div class="item">
          <div class="mb-thumb">
            <img src="img/blog/2.jpg" class="img-responsive" alt=""/>
            <div class="date">06<span>aug</span></div>
            <span class="rmore"><a href="#">read more</a></span>
          </div>
          <h4><a href="#">A More Balanced Envato MarketImportant Changes!</a></h4>
          <div class="blog-meta">
            <span><i class="fa fa-comments"></i> 4 comments</span>
            <span><i class="fa fa-user"></i> admin</span>
          </div>
          <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor</p>
        </div>

        <div class="item">
          <div class="mb-thumb">
            <img src="img/blog/1.jpg" class="img-responsive" alt=""/>
            <div class="date">18<span>aug</span></div>
            <span class="rmore"><a href="#">read more</a></span>
          </div>
          <h4><a href="#">Improving and Removing Envato Market Image Watermarking</a></h4>
          <div class="blog-meta">
            <span><i class="fa fa-comments"></i> 2 comments</span>
            <span><i class="fa fa-user"></i> premiumlayers</span>
          </div>
          <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor</p>
        </div>

        <div class="item">
          <div class="mb-thumb">
            <img src="img/blog/2.jpg" class="img-responsive" alt=""/>
            <div class="date">06<span>aug</span></div>
            <span class="rmore"><a href="#">read more</a></span>
          </div>
          <h4><a href="#">A More Balanced Envato MarketImportant Changes!</a></h4>
          <div class="blog-meta">
            <span><i class="fa fa-comments"></i> 4 comments</span>
            <span><i class="fa fa-user"></i> admin</span>
          </div>
          <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor</p>
        </div>

        <div class="item">
          <div class="mb-thumb">
            <img src="img/blog/1.jpg" class="img-responsive" alt=""/>
            <div class="date">18<span>aug</span></div>
            <span class="rmore"><a href="#">read more</a></span>
          </div>
          <h4><a href="#">Improving and Removing Envato Market Image Watermarking</a></h4>
          <div class="blog-meta">
            <span><i class="fa fa-comments"></i> 2 comments</span>
            <span><i class="fa fa-user"></i> premiumlayers</span>
          </div>
          <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor</p>
        </div>

        <div class="item">
          <div class="mb-thumb">
            <img src="img/blog/2.jpg" class="img-responsive" alt=""/>
            <div class="date">06<span>aug</span></div>
            <span class="rmore"><a href="#">read more</a></span>
          </div>
          <h4><a href="#">A More Balanced Envato MarketImportant Changes!</a></h4>
          <div class="blog-meta">
            <span><i class="fa fa-comments"></i> 4 comments</span>
            <span><i class="fa fa-user"></i> admin</span>
          </div>
          <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor</p>
        </div>

      </div>
    </div>
  </div>
</div>

